setuptools~=70.0.0
transformers~=4.50.0
torch>=2.1.0
torchvision>=0.16.0
torchaudio>=2.1.0
gradio==5.25.2
nltk~=3.9
pillow~=10.4.0
rdflib~=7.0.0
pydantic>=2.10.6
datasets~=4.2.0
requests~=2.32.3
pandas~=2.2.3